<%= render partial: "header" %>
<div class='main-bar'>
    <ul class='menu-lists'>
        <li><%= link_to 'Works', "#", class: "work-link" %></li>
        <li><%= link_to 'Notes', new_filenote_path, method: :get, class: "note-link" %></li>
      </ul>
  </div>
  <div class='head-border'>
  </div>

<body>
  <div class='main-contents'>
  </div>
</body>

<footer>
  <div class='foot-bar'>
  </div>
</footer>