// Place all the styles related to the filenote controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login {
  text-decoration: none;
  color: white;
  margin: 20px;
}

.sign-up {
  text-decoration: none;
  color: white;
}

.work-link {
  text-decoration: none;
  font-size: 30px;
  color: darkgray;
  margin: 20px;
}

.note-link {
  text-decoration: none;
  font-size: 30px;
  color: darkgray;
  margin: 20px;
}