body {
  background-repeat: repeat repeat;
  background-image: url("white-top.jpg");
}

.login {
  text-decoration: none;
  color: #ddd;
  margin: 20px;
}

.sign-up {
  text-decoration: none;
  color: #ddd;
}

.work-link {
  text-decoration: none;
  font-size: 25px;
  color: #432f2f;
  margin: 20px;
}

.note-link {
  text-decoration: none;
  font-size: 25px;
  color: #432f2f;
  margin: 20px;
}

.note {
  text-decoration: none;
  font-size: 25px;
  color: #432f2f;
  margin: 5px  20px 5px 60px;
}

.field-input-title {
  width: 100%;
  letter-spacing: 1px;
}

.main-body{
  display: flex;
}

.form-left {
  width: 450px;
  height: 100%;
  background-color: gainsboro;
}

.todo-in {
  width: 280px;
  height: 100px;
  padding: 10px;
  border-color: #ddd;
  border-radius: 5px;
  background-color: white;
  margin: 30px auto;
}

.tweet-block {
  padding: 20px 20px 40px;
  border-radius: 10px;
  width: 300px;
  height: 300px;
  margin: 20px auto;
}

.form-right {
  width: 70%;
}

.memo-page{
  height: 100vh;
}

.memo-page__inner {
  width: 240px;
  padding: 18px;
  background-color: #fff;
  border: 3px solid gray;
  border-radius: 4px;
  margin: 20px;
  float: left;
}

.memo-page .field .field-label {
  padding: 5px 0;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 200;
}

.memo-page .field {
  font-size: 15px;
}

.memo-page .btn {
  display: inline-block;
  height: 40px;
  padding: 0 30px;
  line-height: 40px;
  letter-spacing: 1px;
  text-align: center;
  border: none;
  border-radius: 3px;
}

.memo-page input[type=submit] {
  float: left;
  margin-top: 20px;
  color: #fff;
  background-color: #5f5f5f;
}

.memo-page2__inner {
  width: 1024px;
  margin: 0 auto;
}

.note-contents{
  display: flex;
  flex-wrap: wrap;
}

.note__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.note-content {
  width: calc(1000px / 4);
  height: 186px;
  background-color:gray;
  padding: 10px 20px 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 20px;
  box-shadow: 10px 10px #5f5f5f44;
}

.note-title {
  font-size: 24px;
  color: white;
}

.note-texts {
  margin: 8px 28px 16px;
  word-wrap: break-word;
  font-size: 14px;
  color: white;
}


.close-icon {
  height: 20px;
  margin-left: 240px;
}
