.top-page-header {
  width: 100vw;
  padding: 2vh 0 0;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.top-bar-contents{
  margin: 0 20px;
}

.nav-bar {
  width: 100vw;
  height: 40px;
  background-color: gray;
  display: flex;
}


.nav-lists {
  display: flex;
  margin: 6px 0;
}

.home-btn {
  margin-left: 27px;
}

.menu-lists {
  width: 10px;
  display: flex;
  margin: 5px 40px;
}

.head-border {
  width: 100vw;
  height: 1px;
  background-color: lightgray;
}