.top-page-header {
  width: 100vw;
  padding: 2vh 0 0;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.top-border4 {
  width: 70%;
  border: 1px solid rgb(194, 238, 144);
}

.top-border3 {
  width: 80%;
  border: 1px solid lightblue;
}

.top-border2 {
  width: 90%;
  border: 1px solid rgb(227, 180, 255);
}

.top-border {
  border: 1px solid lightsalmon;
}

.top-bar-contents{
  margin: 0 20px;
}

.nav-bar {
  width: 100vw;
  height: 40px;
  background-color: gray;
  display: flex;
}


.nav-lists {
  display: flex;
  margin: 6px 0;
}

.home-btn {
  margin-left: 27px;
}

.menu-lists {
  width: 10px;
  display: flex;
  margin: 5px 40px;
}

.head-border {
  width: 100vw;
  height: 1px;
  background-color: lightgray;
}