.main-contents {
  width: 100vw;
  height: 100vh;
}

.top-contents {
  display: flex;
}

.slider-content {
  margin: 40px auto;
  width: 700px;
  height: 500px;
  padding: 20px;
  background-color: rgb(238, 238, 238);
  border-radius: 10px;
  border: 2px solid slategray;
}

.tweet-block {
  margin: 40px;
  padding: 40px 60px;
  border-radius: 10px;
  width: 250px;
  height: 300px;
  background-color: rgb(238, 238, 238);
  border: 1px solid gray;
}