.main-contents {
  width: 100%;
  height: 100vh;
}

.discribe {
  color: grey;
  font-size: 20px;
}

.discribe-left {
  color: dimgrey;
  font-size: 20px;
}

.top-contents {
  display: flex;
}

.top-content {
  width: 300px;
  background-color: #ccbd99;
}

.category {
  width: 150px;
  margin: 40px auto;
}

.category-title {
  font-size: 18px;
  color: #432f2f;
  margin-bottom: 15px;
}

.category-menu {
  font-size: 15px;
  color: #432f2f;
  margin-left: 5px;
}

.category-border {
  border: 1px solid seashell;
  margin-bottom: 10px;
}

.left-contents {
  width: 70%;
}

.slider-content {
  width: 500px;
  height: 400px;
  padding: 30px;
  margin: 10px auto;
  background-color: white;
  border: 1px solid dimgrey;
}