.main-contents {
  width: 100%;
  height: 100vh;
}

.discribe {
  color: grey;
  font-size: 20px;
}

.discribe-left {
  color: dimgrey;
  font-size: 20px;
}

.top-contents {
  display: flex;
}

.top-content {
  width: 380px;
  background-color: #ccbd99;
}

.left-contents {
  width: 70%;
}

.slider-content {
  width: 500px;
  height: 400px;
  padding: 30px;
  margin: 10px auto;
  background-color: white;
  border: 1px solid dimgrey;
}